{% extends 'base.html.twig' %}

{% block title %}khadhranisinda{% endblock %}

{% block body %}
<section class="articles">
    <article><h1> l'article 1
            <div class="metadata" ecrit le 09.02.2019></div>
            <button class="btn btnprimary"><a href="{{'blog_show'}}"rel="stylesheet"></a> lire les détails</button>
            </h1></article>
</section>
{% endblock %}
